@import '~@/styles/themes/index';
@import '~@/styles/utilities/mixins';
@import '~@/styles/utilities/functions';
@import '~@/styles/utilities/helpers';
@import '~@/styles/typography/mixins';

$field-padding: $v-spacing-lg $h-spacing-lg;
$field-container-fill: get-theme-prop('background', 'base');

$field-color-map: (
  base: get-theme-prop('text', 'body'),
  title: get-theme-prop('text', 'body'),
  brief: get-theme-prop('text', 'secondary'),
  footer: get-theme-prop('text', 'secondary'),
);
