{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "eslintIntegration": true,
  "stylelintIntegration": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ".stylelintrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
