@import '~@/styles/themes/index.scss';

.#{$prefix-name}-icon {
  line-height: 0;

  display: inline-block;

  text-align: center;
  text-transform: none;
  & > * {
    line-height: 1;
  }
  svg {
    display: inline-block;
  }
}
