@mixin paddingless {
  padding: 0;
}

@mixin marginless {
  margin: 0;
}

@mixin radiusless {
  border-radius: 0;
}

@mixin shadowless {
  box-shadow: none;
}

@mixin borderless {
  border: 0;
}

@mixin unselectable {
  user-select: none;
}
