$animate-map: (
  zoom: 'zoom',
  fade: 'fade',
  slideUp: 'slide-up',
  slideDown: 'slide-down',
  slideRight: 'slide-right',
  slideLeft: 'slide-left',
);
@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@mixin effect() {
  animation-duration: 0.3s;
  animation-timing-function: ease-out;

  animation-fill-mode: both;
}

.shake {
  @include effect();
  animation-name: shake;
  animation-play-state: running;
}

@each $animateName, $animateClassName in $animate-map {
  .to-#{$animateClassName}-enter,
  .to-#{$animateClassName}-enter-active,
  .to-#{$animateClassName}-appear,
  .to-#{$animateClassName}-appear-active {
    @include effect();
    animation-name: #{$animateName}In;
    animation-play-state: running;
  }
  .to-#{$animateClassName}-leave,
  .to-#{$animateClassName}-leave-active {
    @include effect();
    animation-name: #{$animateName}Out;
    animation-play-state: running;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideUpIn {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slideUpOut {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 100%);
  }
}
@keyframes slideDownIn {
  0% {
    transform: translate(0, -100%);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes slideDownOut {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -100%);
  }
}
@keyframes slideLeftIn {
  0% {
    visibility: visible;

    transform: translate(-100%, 0);
  }

  to {
    transform: translate(0, 0);
  }
}
@keyframes slideLeftOut {
  0% {
    transform: translate(0, 0);
  }

  to {
    visibility: hidden;

    transform: translate(-100%, 0);
  }
}
@keyframes slideRightIn {
  0% {
    visibility: visible;

    transform: translate(100%, 0);
  }

  to {
    transform: translate(0, 0);
  }
}
@keyframes slideRightOut {
  0% {
    transform: translate(0, 0);
  }

  to {
    visibility: hidden;

    transform: translate(100%, 0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0, 0);

    opacity: 0;
  }
  100% {
    transform: scale(1, 1);

    opacity: 1;
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1, 1);

    opacity: 1;
  }
  100% {
    transform: scale(0, 0);

    opacity: 0;
  }
}

@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}
