@import '_variables.scss';

@mixin switch-base {
  position: relative;

  box-sizing: border-box;
  width: $switch-width;
  height: $switch-height;

  transition: .15s background ease-out;

  border-radius: $switch-radius;
  background: $switch-fill-color;
  &:before,
  &:after {
    position: absolute;

    content: '';
  }
  &:before {
    top: 0;
    left: 0;

    width: $switch-width;
    height: $switch-height;

    border-radius: $switch-radius;
    background-color: $switch-fill-color;
  }
  &:after {
    top: $switch-handle-edge-offset;
    left: $switch-handle-edge-offset;

    width: $switch-handle-width;
    height: $switch-handle-height;

    transition: transform .3s;

    border-radius: $switch-handle-radius;
    background-color: $switch-fill-color-inverse;
    box-shadow: $switch-shadow;
  }
}

@mixin switch-active-base {
  &.active {
    background-color: $switch-active-fill-color;

    &:before,
    &:after {
      background-color: $switch-fill-color-inverse;
    }
    &:after {
      transform: translateX(
      ($switch-width - $switch-handle-width) - $switch-handle-edge-offset * 2
      );
    }
    &:before {
      transform: scale(0);
    }
  }
}

@mixin switch-disabled-base {
  &[disabled] {
    opacity: .5;
  }
}
