@import './_colors-palette.scss';

$dark-theme-text-colors: (
  base: $white,
  secondary: rgba($white, .7),
  placeholder: rgba($white, .3),
  disabled: rgba($white, .5),
  link: $blue50,
  caption: $white,
  body: $white,
  inverse: $black50
) !default;

$dark-theme-background-colors: (
  base: $bg-black
) !default;
