@import './_colors-palette.scss';
@import '_light.scss';
@import '_dark.scss';
@import '_variables.scss';
@import '../typography/_variables.scss';

$to-theme-brand: $green50;
$to-theme-map: (
  light: (
    text: $light-theme-text-colors,
    background: $light-theme-background-colors
  ),
  dark: (
    text: $dark-theme-text-colors,
    background: $dark-theme-background-colors
  )
);
