@import './colors-palette';
@import 'light';
@import 'dark';
@import 'variables';
@import '../typography/variables';

$to-theme-brand: $green50;
$to-theme-map: (
  light: (
    text: $light-theme-text-colors,
    background: $light-theme-background-colors,
  ),
  dark: (
    text: $dark-theme-text-colors,
    background: $dark-theme-background-colors,
  ),
);
