@import '~@/styles/themes/index.scss';
@import '~@/styles/utilities/_mixins.scss';
@import '~@/styles/utilities/_helpers.scss';
@import '~@/components/Modal/styles/_variables.scss';

$toast-z: $modal-z + 5;
$toast-content-z: $toast-z + 10;
$toast-content-background: $bg5;
$toast-border-radius: $radius-sm;
