@import '~@/styles/themes/index';
@import '~@/styles/utilities/mixins';
@import '~@/styles/utilities/helpers';
@import '~@/components/Modal/styles/variables';

$toast-z: $modal-z + 5;
$toast-content-z: $toast-z + 10;
$toast-content-background: $bg5;
$toast-border-radius: $radius-sm;
