@import '~@/styles/themes/index';
@import '~@/styles/utilities/functions';

$cell-item-min-height: 50 * $hd;

$cell-item-color-map: (
  base: get-theme-prop('text', 'body'),
  brief: get-theme-prop('text', 'secondary'),
  prefix: get-theme-prop('text', 'secondary'),
  addon: get-theme-prop('text', 'secondary'),
);
