@import '../../styles/base/index.scss';
@import '../../styles/utilities/mixins';

$cell-item-min-height: 50 * $hd;
.#{$prefix-name}-cell-item {
  position: relative;
  &.noBorder {
    .#{$prefix-name}-cell-item-body {
      @include hairlineRemove('bottom');
    }
  }

  &.disabled {
    .#{$prefix-name}-cell-item {
      &-body,
      &-prefix,
      &-content,
      &-brief,
      &-addon,
      &-extra {
        color: $color-text-disabled;
      }
    }
  }
  &-body {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    min-height: $cell-item-min-height;
    padding: $v-spacing-md 0;

    @include hairline('bottom') {
      top: initial;
      bottom: 0;
    }

    &.mutiline {
      padding: $v-spacing-md + 2 0;
    }
  }
  &-prefix {
    flex-shrink: 0;

    margin-right: $h-spacing-lg;
  }
  &-content {
    flex: 1 1 0%;

    font-size: $font-size-caption;
  }
  &-brief {
    margin-top: $v-spacing-sm;

    color: $color-text-secondary;

    font-size: $font-size-caption-sm;
  }
  &-addon {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-end;

    margin-left: $h-spacing-lg;

    color: $color-text-secondary;

    font-size: $font-size-base;
  }
  &-extra {
    padding: $v-spacing-lg 0;
  }
  .arrow-right {
    @include arrow('right', $color-text-secondary);
  }
}
