@import '../../styles/base/index';
@import '../../styles/utilities/mixins';
@import '../../styles/utilities/helpers';

$box-color: $color-text-base;
$box-background-color: $fill-base;
$box-radius: $radius-md;
$box-shadow: $shadow-base;

.#{$prefix-name}-box {
  display: block;

  color: $box-color;
  border-radius: $box-radius;
  background-color: $box-background-color;
  box-shadow: $box-shadow;

  @include block;

  &.noBorder {
    @include borderless;
    @include radiusless;
    @include shadowless;
  }

  &.noGutter {
    @include paddingless;
  }

  &.fullWidth {
    width: 100%;
  }
}
