$hd: 1px;
$prefix-name: 'to';
// Colors
$brand-primary: #09bb07;
$brand-primary-tap: darken($brand-primary, 10%);
$brand-success: #6abf47;
$brand-warning: #ffc600;
$brand-error: #f4333c;
$brand-important: #ff5b05;
$brand-wait: #108ee9;

$color-text-base: #000;
$color-text-base-inverse: #fff;
$color-text-secondary: #a4a9b0;
$color-text-placeholder: #bbb;
$color-text-disabled: #bbb;
$color-text-caption: #888;
$color-text-paragraph: #333;
$color-link: $brand-primary;

$fill-base: #fff;
$fill-body: #f5f5f9;
$fill-tap: #ddd;
$fill-disabled: #ddd;
$fill-mask: rgba(0, 0, 0, 0.4);
$fill-grey: #f7f7f7;
$fill-black: #112323;

// Typography

$family-sans-serif: BlinkMacSystemFont, 'PingFang SC', -apple-system, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$family-monospace: monospace !default;
$render-mode: optimizeLegibility !default;

// Fontsize
$font-size-icontext: 10 * $hd;
$font-size-caption-sm: 12 * $hd;
$font-size-base: 14 * $hd;
$font-size-subhead: 15 * $hd;
$font-size-caption: 16 * $hd;
$font-size-heading: 20 * $hd;

// Fontweight
$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;

// Border
$border-width-base: 2 * $hd;
$border-color-base: #ddd;

// Raidus
$radius-xs: 2 * $hd;
$radius-sm: 3 * $hd;
$radius-md: 5 * $hd;
$radius-lg: 7 * $hd;
$radius-round: 100px;
$radius-circle: 290486px;

// Spacing
$h-spacing-sm: 5 * $hd;
$h-spacing-md: 8 * $hd;
$h-spacing-lg: 15 * $hd;

$v-spacing-xs: 3 * $hd;
$v-spacing-sm: 6 * $hd;
$v-spacing-md: 9 * $hd;
$v-spacing-lg: 15 * $hd;
$v-spacing-xl: 21 * $hd;

// Shadow
$shadow-base: 0 2px 3px rgba(#000, 0.1), 0 0 0 1px rgba(#000, 0.1);
