@import './variables';

// Button base
@mixin button-base() {
  @include set-typography(button);
  @include txt-overflow();

  position: relative;

  display: inline-flex;

  box-sizing: border-box;

  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
  vertical-align: middle;

  border-radius: $button-border-radius;
  outline: none;

  align-items: center;
  -webkit-appearance: none;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  &[disabled] {
    @include theme-prop(
      'background-color',
      map-get(map-get($button-color-map, 'disabled'), 'fill-color')
    );
    @include hairline(
      'all',
      map-get(map-get($button-color-map, 'disabled'), 'border-color'),
      $button-border-radius
    );

    cursor: not-allowed;
    pointer-events: none;

    opacity: 0.5;
  }
}

@mixin button-container-fill-color($color) {
  &:not([disabled]) {
    @include theme-prop('background-color', $color);
  }
}

@mixin button-container-tab-fill-color($color) {
  &:active {
    &:not([disabled]) {
      @include theme-prop('background-color', $color);
    }
  }
}
@mixin button-text-color($color) {
  &:not([disabled]) {
    @include theme-prop('color', $color);
  }
}

@mixin button-border($color) {
  &:not([disabled]) {
    @include hairline('all', $color, $button-border-radius);
  }
}

@mixin button-outline($color) {
  @include button-container-fill-color(transparent);
  @include button-text-color($color);
  @include button-border($color);
}

// Fullwidth button
@mixin button-block {
  width: 100%;
}

@mixin button-gutter($size) {
  min-width: map-get(map-get($button-size-map, $size), 'height');
  height: map-get(map-get($button-size-map, $size), 'height');
  padding: 0 map-get(map-get($button-size-map, $size), 'padding');
}
@mixin button-subtle($color) {
  @include hairline-remove;
  @include button-container-fill-color(transparent);
  @include button-text-color($color);
}

@mixin button-loading {
  &.#{$prefix-name}-button {
    @include button-text-color(transparent);
  }
  &::before {
    @include center(1em);
    @include loading;

    position: absolute;
  }
}

@mixin button-inactive {
  opacity: 0.3;
}

@mixin button-round {
  border-radius: $button-border-radius-round;
}
@mixin button-sticky {
  &.sticky {
    @include hairline-remove;

    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;

    border-radius: 0;
  }
}

@mixin button-group-sticky {
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;

  width: 100%;
  .#{$prefix-name}-button {
    @include hairline-remove;

    flex: 1;

    margin-right: 0;
    margin-bottom: 0;

    border-radius: 0;
  }
}

@mixin button-group-addons {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;

  .#{$prefix-name}-button {
    margin-right: 0;
    margin-bottom: 0;

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      margin-right: -1px;

      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.block {
      flex: 1 1 0;
    }
  }
}

@mixin button-group-base {
  .#{$prefix-name}-button {
    margin-bottom: 5px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
